*{
    padding:0;
    margin:0;
}

body{
    background-color: hsl(270, 20%, 96%);
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}


.info-card{
    display: flex;
    flex-direction: column;
    width: 210px;
    max-height: 100%;
    height: 450px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
    } 


.info-card-head{
   height: 60px;
   width: 100%;
   border-radius: 20px 20px 8px 8px;

}

.info-card-camera{
    height: 20px;
    width: 130px;
    border-radius: 0px 0px 30px 30px;
    background-color: white;
}

.info-card-text{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.name {
    font-size: 12px;
  }

.availability {
    font-size: 8px;
    color: lightgray;
  }

  .ellipsis-1 {
    margin-right: 15px;
  }

  

  .info-card-text.
  