.desktop{
   
    height: 800px !important;
    width: 1440px !important;
    display: flex;
    
}

.purple-element{
    background: linear-gradient(180deg, #E844FF 0%, #8739FF 100%) !important;
    border-radius: 50pc !important;
    width: 510px;
    height: 1018px;
    position: relative;
    left: -5%;
    top: -65vh;
    
}  
.info-card{
    

box-shadow: 0px 0px 13px 0px rgba(62, 39, 83, 0.25);
    box-sizing: content-box;
    height: 505px !important;
    width: 247px !important;
    

} 
.walker-info{
    border-radius: 20px 20px 6px 6px;
background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);

}
h2{
    font-size: 1rem !important;
}
h3{
    font-size: .75rem!important;

}
#message{
    font-family: "Rubik", sans-serif;
  font-size: 8px;
  font-weight: regular;
  font-style: normal;
}
#dog-img{
    height:40px;
    width:40px;
}
.info{
    width: 445px;
    height:183px;
}