.desktop{
    height: 800px !important;
    width: 1440px !important;
    display: flex;
    
}

.purple-element{
    background: linear-gradient(180deg, #E844FF 0%, #8739FF 100%) !important;
    border-radius: 50pc !important;
    width: 510px;
    height: 1018px;
    position: relative;
    left: -5%;
    top: -65vh;
    
}  
.info-card{
    height: 505px !important;
    width: 247px !important;
    

} 
h2{
    font-size: 1rem !important;
}
h3{
    font-size: .75rem!important;

}
#message{
    font-family: "Rubik", sans-serif;
  font-size: 8px;
  font-weight: regular;
  font-style: normal;
}